#purchasecoffee {
	font-size:0.8em;
}
p {
	text-align: center;
}

.btn {
	font-family:'Raleway';
}
#results a {
	text-decoration: none;
	font-size:1.3em;
}
#results p {
	font-size: 1.1em;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
.opacity {
	opacity:0.8;
}
.meetup_group {
	list-style: none;
	margin-top:5px;
	margin-bottom:5px;
}

.caption a {
	text-decoration: none;
	color: #fff;
	font-family:'Oxygen';
	z-index: 1;
}

.btn.btn-primary {
	background-color:#2b669a !important;
	border-color:#2b669a !important;
}


#results .row {
	padding-top:1%;
	padding-bottom:1%;
	margin-top:1%;
	margin-bottom: 1%;
}

.btn.btn-coffee {
	background-color: #20CB92;
	color:#fff;
	border:1px #20CB92;
}

.btn.btn-beer {
	background-color:#FF5891;
	border:1px #FF5891;
	color:#fff;
}

.btn.btn-beer:hover {
	color:#fff;
}

.btn.btn-coffee:hover {
	color:#fff;
}
#LocationSearch {
	width:75%;
}

#search {
	margin-top:-48px !important;
	float: right;
	margin-right:-100px !important;
}
#LocationSearch > input {
	width:100%;
}
.btn-primary {
	background-image: none !important;
}
.btn.btn-success {
	background-image:none !important;
}
.panel-heading {
	background-image: none !important;
}
.btn.btn-danger {
	font-family:"Raleway";
	background-color:#FCA2C5 !important;
	border-color: #FCA2C5;
}
.btn.btn-danger:hover {
	color:#fff;
	border-color:#FCA2C5;
}
.filterbarhidden {
	display:none;
}
.filterbarshow {
	background-color:#ddd;
}

.btn.displaynone {
	display:none;
}


