extends base
- load staticfiles
-block content_section_1
.container(style="width:50%; background:#f8f8f8; border:1px solid; border-radius:10px; margin-top:100px;")
	form(role="form", style="max-width:330px; padding:15px; margin:0 auto;" action="{%url 'login' %}", style="opacity:0.8;", method="POST",)
		h1(style="font-size:50px; text-shadow:none; color:black; font-family:'Oxygen', 'sans-serif';") Please Sign in
		.form-group(style="width:100%; color:black;") 
			{%csrf_token%}
			input.form-control(type="username", name="username", placeholder="username")
			input.form-control(type="password", name="password", placeholder="password")
		button.btn.btn-lg.btn-primary.btn-block(type="submit", value="submit") Login
-endblock content_section_1