extends base
- load staticfiles
-block content_section_1
{%if request.user.glideprofile %}
form(role="form", action="{%url 'login' %}", method="POST")
	.form-group(style="width:50%; margin-left:25%;")
		{%csrf_token%}
		input.form-control(type="username", name="username", placeholder="username")
		input.form-control(type="password", name="password", placeholder="password")
	button.btn.btn-success(type="submit", value="submit") Login
{%endif%}
{%if AnonymousUser %}
form(role="form", style="height:50px;", action="{% url 'signup' %}", method="POST")
	.form-group(style="width:50%; margin-left:25%;")
		{%csrf_token%}
		{{ user_form }}
	button.btn.btn-success(type="submit", style="margin-left:25%;", value="submit") Create My Account
{%endif%}
-endblock content_section_1