{% load thumbnail %}
html
	head
		link(rel="stylesheet", href="{{STATIC_URL}}/profiles/css/base.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(type="text/javascript", src="{{STATIC_URL}}django_ajax/js/jquery.ajax-plugin.min.js")
		script(src="{{STATIC_URL}}/profiles/js/eldarion-ajax.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="{{STATIC_URL}}/profiles/js/holder.js")
		link(rel="stylesheet", href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet",href='http://fonts.googleapis.com/css?family=Oxygen')
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,300italic|Oxygen")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title GlideWithUs

.nav.navbar-default(role="navigation")
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapsed_nav")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.navbar-brand#navbrand(href="{{home}}/home")
				img(src="{{STATIC_URL}}/landing/images/logo1.png")
		.collapse.navbar-collapse#collapsed_nav
			{%if user.first_name %}
			ul.nav.navbar-nav.navbar-right
				li
					a(href="{% url 'marketplace' %}") Home
					
				li.dropdown
					a#dLabel(href="#", role="button", data-toggle="dropdown", data-target="#") {{user.first_name}}
						span.caret
					
					ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
						li
							a(href="profile") My Profile
						li
							a(href='{% url "settings" %}') Edit Settings
						li
							a(href="{% url 'logout' %}") Logout

				li.dropdown
					a#Browse(href="#", role="button", data-toggle="dropdown", data-target="#") Browse People
						span.caret
					ul.dropdown-menu(role="menu", aria-labelledby="Browse")
						li
							a(href="#SearchByInterest", data-toggle="modal", data-target="#SearchByInterest") By Interests
						li 
							a(href="#SearchByCompany", data-toggle="modal", data-target="#SearchByCompany") By Company
						li
							a(href="#SearchByProfession", data-toggle="modal", data-target="#SearchByProfession") By profession
						li 
							a(href="#SearchByLocation", data-toggle="modal", data-target="#SearchByLocation") By Location
				li
					a(href="#") Help
			
			{%endif%}
	
.modal.fade#SearchByLocation(tabindex="-1", role="dialog", aria-hidden="true", aria-labelledby="#BrowseByLocation")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title Find people by location
			.modal-body
				form(role="form", href="{% url 'marketplace' %}", action="{% url 'marketplace' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.searchlocationform}}
					button.btn.btn-success(type="submit", value="submit") Search
.modal.fade#SearchByInterest(tabindex="-1", role="dialog", aria-labelledby="#BrowseInterests", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title#S_Interest Find people who are interested in...
			.modal-body
				form(role="form", action="{% url 'marketplace' %}")
					.form-group
						{%csrf_token%}
						{{form.filterbyinterestform}}
					button.btn.btn-success(type="submit", value="submit") Go
.modal.fade#SearchByCompany(tabindex='-1', role="dialog", aria-labelledby="#BrowseByCompany", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title Find people who work for a speciic company
			.modal-body
				form(role="form", action="{% url 'marketplace' %}")
					.form-group
						{%csrf_token%}
						{{form.filterbycompanyform}}
					button.btn.btn-success(type="submit", value="submit") Go
.modal.fade#SearchByProfession(tabindex='-1', role="dialog", aria-labelledby="#BrowseByProfession", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title Find people who have a certain profession
			.modal-body
				form(role="form", action="{% url 'marketplace' %}")
					.form-group
						{%csrf_token%}
						{{form.filterbyprofessionform}}
					button.btn.btn-success(type="submit", value="submit") Go

					
.modal.fade#Add_Company(tabindex="-1", role="dialog", aria-labelledby="#Add_Company", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title#Company Add a Company
			.modal-body
				form(role="form", action="{% url 'profile' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.companyform}}
					button.btn.btn-success(type="submit", value="submit") Add Company

.modal.fade#Edit_Location(tabindex="-1", role="dialog", aria-hidden="true", aria-labelledby="#Edit_Location")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title#Location Edit Location
			.modal-body
				form(role="form", action="{% url 'profile' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.locationform}}
					button.btn.btn-success(type="submit", value="submit") Change Location
.modal.fade#edit_awesome(tabindex="-1", role="dialog", aria-labelledby="#edit_awesome", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title#awesome
			.modal-body
				form(role="form", action="{% url 'profile' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.awesomeform}}
					button.btn.btn-success(type="submit", value="submit") Change

.modal.fade#Edit_Mission(tab-index="-1", role="dialog", aria-hidden="True", aria-labelledby="#Edit_Mission")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title#mission Edit Mission
			.modal-body
				form(role="form", action="{% url 'profile' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.missionform}}
					button.btn.btn-success Change Mission					 
.modal.fade#edit_travelerpitch(tabindex="-1", role="dialog", aria-labelledby="#edit_travelerpitch", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title#awesome
			.modal-body
				form(role="form", action="{% url 'profile' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.travelform}}
					button.btn.btn-success(type="submit", value="submit") Change 
.modal.fade#Add_Profession(tabindex="-1", role="dialog", aria-labelledby="#Add_Profession", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title
			.modal-body
				form(role="form", action="{% url 'profile' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.professionform}}
					button.btn.btn-success(type="submit", value="submit") Add 

.container-fluid
	.row(style="margin:0 auto; padding-top:2%;")
		.col-sm.col-md-3
			.thumbnail
				{% if not profile.profile_pic %}
				img(src="http://placehold.it/300x300")
				form(method="POST", enctype="multipart/form-data", action="{% url 'profile' %}")
					.form-group
						{%csrf_token %}
						{{form.propic_form}}
					button.btn.btn-success(type="submit", value="submit") Add Profile Pic
				{% endif %}
				{% if profile.profile_pic %}
				{% thumbnail profile.profile_pic "300x300" crop="center" as im %}
				img(src="{{im.url}}", width="{{im.width}}", height="{{im.height}}")
				{% endthumbnail %}
				{%endif %}
				.caption
					li(style="text-decoration:none; list-style:none;")
						a#dLabel(href="#", style="text-decoration:none; color:inherit;", role="button", data-toggle="dropdown", data-target="#") {{user.first_name}} {{user.last_name}}
							span.caret
						ul.dropdown-menu(role="menu", style="margin-top:-100px;", aria-labelledby="dLabel")
							li 
								a(href="#") Change Profile Picture 
					{%if 'False' in city %}
					span
						a(href="#Edit_Location", data-toggle="modal", data-target="#Edit_Location") Add a Location
					{%endif%}
					{% if 'False' not in city %} 
					li(style="text-decoration:none; list-style:none;")
						a#Edit_City(href="#", style="text-decoration:none; color:inherit;", role="dropdown", data-toggle="dropdown", data-target="#") {{city}} {{state}} {{country}}
							span.caret
						ul.dropdown-menu(role="menu", aria-labelledby="Edit_City")
							li 
								a(href="#Edit_Location", data-toggle="modal", data-target="#Edit_Location") Edit Location
					{%endif%}
					{%if company%}
					{%for i in company %}
					li(style="text-decoration:none; list-style:none; font-weight:bold;") {{i}}
					{%endfor%}
					span 
						a(href="#Add_Company", data-toggle="modal", data-target="#Add_Company") Add a Company
					{%endif%}
					{%if not company %}
					br
					span
						a(href="#Add_Company", data-toggle="modal", data-target="#Add_Company") Add a company
					{%endif%}
					{%if proffession %}
					{% for i in proffession %}
					li(style="text-decoration:none; list-style:none;") {{i}}
					{%endfor%}
					span
						a(href="#Add_Profession", data-toggle="modal", data-target="#Add_Profession") Add a Profession
					{%endif %}
					{% if not proffession %}
					br
					span
						a(href="#Add_Profession", data-toggle="modal", data-target="#Add_Profession") Add a Profession
					{%endif %}


			


		.col-sm.col-md-6.col-centered
			.panel.panel-default
				.panel-heading Tell us a little bit about yourself
				.panel-body
					.panel.panel-about
						.panel-heading What's your passion in life?
						.panel-body
							{% if mission %}
							p(style="font-family:Raleway; font-size:3.1em;") {{mission}}
								span
									a(href="#Edit_Mission", data-toggle="modal", data-target="#Edit_Mission", style="padding-left:5px;") Edit
							{%endif%}
							{%if not mission %}
							p(style="font-family:Raleway; font-weight=bold;") What's your passion in life?
							form(role="form", method="POST", action="{% url 'profile' %}")
								{%csrf_token %}
								{{form.missionform}}
								button.btn.btn-coffee(type="submit", value="submit") submit
							{%endif%}
					{%if not awesome %}
					.panel.panel-about
						.panel-heading Why are you awesome?
						.panel-body
							form(role="form", method="POST", action="{% url 'profile' %}")
								{%csrf_token %}
								{{form.awesomeform}}
								button.btn.btn-success(type="submit", value="submit") Submit
					{%endif%}
					{% if awesome %}
					.panel.panel-about
						.panel-heading Why are you awesome?	
						.panel-body
							p(style="font-family:Raleway; font-size:3.1em;") {{awesome}}
								span
									a(href="#edit_awesome", data-toggle="modal", data-target="#edit_awesome") Change
							{%endif%}								
					{%if not traveler_pitch%}
					.panel.panel-about
						.panel-heading Why should a traveler want to meet up with you?
						.panel-body
							form(role="form", method="POST", action="{% url 'profile' %}")
								{%csrf_token %}
								{{form.travelform}}
								button.btn.btn-success(type="submit", value="submit") submit
					{%endif%}
					{%if traveler_pitch%}
					.panel.panel-about
						.panel-heading Why should a traveler want to meet up with you?
						.panel-body
							p(style="font-size:3.1em; font-family:Raleway") {{traveler_pitch}}
								span
									a(href="#edit_travelerpitch", data-toggle="modal", data-target="#edit_travelerpitch") Change
						{%endif%}


		.col-sm.col-md-3
			.panel.panel-default
				.panel-heading What do you like to do?
				.panel-body
					{%for i in interests%}
					.input-group(style="display:inline;")
						.input-group-btn
							button.btn.btn-danger.interestbutton(style="margin-top:5px;") {{i}}	
							button.btn.btn-danger.addon.displaynone(style="margin-top:5px;", id="{{i}}",)
								span.glyphicon.glyphicon-remove(id="remove {{i}}")
							button(type="button", onclick="test()")
									



					{%endfor%}
					form(role="form", method="POST", action="{% url 'profile' %}")
						.form-group
							{%csrf_token%}
							{{form.interestform}}
						button.btn.btn-success(type="submit", value="submit") Add			
	
				
					
		.col-md-3
			.panel.panel-default
				.panel-heading Stats
				.panel-body 
					p(style="font-weight:bold;") User Number:
						span(style="font-weight:200; padding-left:5px;") 
							{{user.id}}



				

	
		




					
						
								

script(type="text/javascript")
	$(document).ready(function() {
		var height = $('.interestbutton').height()
		console.log(height)
		$('.interestbutton').next('button').height(height)
		},
		$('.input-group-btn').hover(function() {
		$(this).find('.displaynone').removeClass('displaynone')
		},
		function() { $(this).find('.addon').addClass('displaynone')}))
	
script(type="text/javascript")
	ajaxPost('/profiles', function(content) {
		alert(content);
		})

		
	
		
		
			
