{% load thumbnail %}
html
	head
		link(rel="stylesheet", href="{{STATIC_URL}}/profiles/css/base.css")
		link(rel="stylesheet", href="{{STATIC_URL}}css/marketplace.css")
		link(rel="stylesheet", href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet",href='http://fonts.googleapis.com/css?family=Oxygen')
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,300italic|Oxygen")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway")
		link(rel="stylesheet", href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title GlideWithUs

.nav.navbar-default(role="navigation")
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapsed_nav")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.navbar-brand#navbrand(href="{{home}}/home")
				img(src="{{STATIC_URL}}/landing/images/logo1.png")
		.collapse.navbar-collapse#collapsed_nav
			{%if user.first_name %}
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a#dLabel(href="#", role="button", data-toggle="dropdown", data-target="#") {{user.first_name}}
						span.caret
					
					ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
						li
							a(href="profile") My Profile
						li
							a(href="settings") Edit Settings
						li
							a(href="{% url 'logout' %}") Logout
				li
					a(href="{% url 'marketplace' %}") Home
				li.dropdown
					a#Browse(href="#", role="button", data-toggle="dropdown", data-target="#") Browse People
						span.caret
					ul.dropdown-menu(role="menu", aria-labelledby="Browse")
						li
							a(href="#SearchByInterest", data-toggle="modal", data-target="#SearchByInterest") By Interests
						li 
							a(href="#SearchByCompany", data-toggle="modal", data-target="#SearchByCompany") By Company
						li
							a(href="#SearchByProfession", data-toggle="modal", data-target="#SearchByProfession") By profession
						li 
							a(href="#SearchByLocation", data-toggle="modal", data-target="#SearchByLocation") By Location
				li
					a(href="#") Help
			
			{%endif%}

// generate a model for each user in results

{% for item1, item2 in results %}
.modal.fade(id="{{item1.profile.first_name}}_{{item1.profile.last_name}}")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="True")&times;
					span.sr-only close
				h4.modal-title {{item1.profile.firstname}}
			.modal-body
				h2 {{item1.mission_statement}}

.modal.fade(id="{{item2.profile.first_name}}{{item2.profile.last_name}}")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title {{item2.profile.firstname}}
			.modal-body
				h2 {{item2.mission_statement}}
{%endfor%}
.modal.fade#SearchByLocation(tabindex="-1", role="dialog", aria-hidden="true", aria-labelledby="#BrowseByLocation")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title Find people by location
			.modal-body
				form(role="form", href="{% url 'marketplace' %}", action="{% url 'marketplace' %}", method="POST")
					.form-group
						{%csrf_token%}
						{{form.searchlocationform}}
					button.btn.btn-success(type="submit", value="submit") Search
.modal.fade#SearchByInterest(tabindex="-1", role="dialog", aria-labelledby="#BrowseInterests", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title#S_Interest Find people who are interested in...
			.modal-body
				form(role="form", action="{% url 'marketplace' %}")
					.form-group
						{%csrf_token%}
						{{form.filterbyinterestform}}
					button.btn.btn-success(type="submit", value="submit") Go
.modal.fade#SearchByCompany(tabindex='-1', role="dialog", aria-labelledby="#BrowseByCompany", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title Find people who work for a speciic company
			.modal-body
				form(role="form", action="{% url 'marketplace' %}")
					.form-group
						{%csrf_token%}
						{{form.filterbycompanyform}}
					button.btn.btn-success(type="submit", value="submit") Go
.modal.fade#SearchByProfession(tabindex='-1', role="dialog", aria-labelledby="#BrowseByProfession", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title Find people who have a certain profession
			.modal-body
				form(role="form", action="{% url 'marketplace' %}")
					.form-group
						{%csrf_token%}
						{{form.filterbyprofessionform}}
					button.btn.btn-success(type="submit", value="submit") Go


.modal.fade#send_message(tabindex="-1", role="dialog", aria-hidden="true", aria-labelledby="send_message")
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Send 
.modal.fade#meetupmodal(tabindex="-1", role="dialog", aria-hidden="true", aria-labelledby="meetupmodal")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times;
					span.sr-only close
				h4.modal-title You're seconds away from an awesome experience!
	
			.modal-body
				form(role="form", method="POST", action="{% url 'marketplace' %}")
					.form-group
						{%csrf_token %}
						input(type="hidden", class="meet", value="", name="send_to")
						input(type="hidden", name="send_meetup_request", value="send_meetup_request")
						{{form.meetup_form}}
						input(type="text", class="form-control", name="date", placeholder="select a date", id="datepicker")
					button(type="submit", value="submit") Go


.container-fluid
	.row.secondnav
		.navbar.navbar-default(style='background:#C0C0C0;')
			.col-md-4
			.col-md-4
				form(role="form", method="POST", action="{%url 'marketplace' %}")
					.form-group
						{%csrf_token%}
						input.form-control(type="text", name="location", style="margin-top:10px;", placeholder="Where are you going?") 
					button.btn.btn-coffee#search(type="submit", value="submit", style="margin-top:10px;") Search
			.col-md-2(style="margin-left:100px;")
				form(role="form", method="POST", action="{%url 'marketplace' %}")
					.form-group(style="display:none;")
						{%csrf_token%}
						input(type="hidden", value="view all", name="view all")
					button.btn.btn-beer(type="submit", style="margin-top:10px;", value="submit") View All

	

.container-fluid
	{% for match in results %}
	{%if match.profile_pic %}
	{%thumbnail match.profile_pic "500x250" crop="center" as image %}
	.row
		.col-md-4
		.col-md-4
			.thumbnail
				img.rounded(src="{{image.url}}", width="{{image.width}}", height="{{image.height}}")
				{%endthumbnail%}
				.caption
					p.primary(style="font-size:1.8em;") {{match.profile.first_name}} {{match.profile.last_name}}
					p.primary about {{match.profile.first_name}}
					p.secondary {{match.mission_statement}}
					p.secondary {{match.traveler_pitch}}
		.col-md-4
			li.meetup_group
				button.btn.btn-beer(href="#meetupmodal", class="get_beer", style="display:inline-block;", value="{{match.profile.first_name}}", data-target="#meetupmodal", id="{{match.profile.username}}", data-toggle="modal") Get a Beer with {{match.profile.first_name}}
			li.meetup_group
				button.btn.btn-coffee(href="#meetupmodal", class="get_coffee", style="display:inline-block;", value="{{match.profile.first_name}}", data-target="#meetupmodal", id="{{match.profile.username}}", data-toggle="modal") Get Coffee with {{match.profile.first_name}}
			span(style="text-align:center; margin-left:15%;").
				Or
			li.meetup_group
				button.btn.btn-danger(href="#meetupgroup", class="send_message", value="{{match.profile.first_name}}", data-target="#meetupmodal", id="{{match.profile.username}}", data-toggle="modal") Send {{match.profile.first_name}} a message


		
					
	{%endif %}
	{%endfor%}
								

			
				
				









				
	
		




					
										
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="{{STATIC_URL}}/profiles/js/holder.js")
script(src="http://code.jquery.com/ui/1.11.2/jquery-ui.js")
script(type="text/javascript")
		$(document).ready(function() {
			$('.get_beer').click(function() {
				instance = $(this).attr('id')
				name = $(this).attr('value')
				console.log(name)
				modal_title = $('#meetupmodal').find('.modal-title')
				modal_title.html("Your seconds away from getting beer with " + name + '.')
				send_to = $('#meetupmodal').find('.meet')
				new_send_to = send_to.attr('value', instance)
				})
			$('.get_coffee').click(function() {
				instance = $(this).attr('id')
				name = $(this).attr('value')
				modal_title = $('#meetupmodal').find('.modal-title')
				modal_title.html("You are seconds away from getting coffee with " + name)
				send_to = $('#meetupmodal').find('.meet')
				new_send_to = send_to.attr('value', instance)
				})
			$('.send_message').click(function() {
				instance = $(this).attr('id')
				name = $(this).attr('value')
				modal_title = $('#meetupmodal').find('.modal-title')
				modal_title.html("Send " + name +" a message!")
				send_to = $('#meetupmodal').find('.meet')
				new_send_to = send_to.attr('value', instance)
				})
			$('#meetupmodal').find("#datepicker").datepicker();
			})

		
